body {
    font-family: 'Bodoni MT', sans-serif;
    font-size: large;
    margin: 25px;
    background-color: #f0f4f8;
}

h1, h2 {
    color: #8a2be2;
}

form {
    background-color: #ffc0cb;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px; 
    margin: 0 auto; 
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px; 
    margin-bottom: 10px;
    border: 1px solid #dda0dd;
    border-radius: 3px;
    font-size: 14px;
}

input[type="date"] {
    width: 100%;
    padding: 8px; 
    margin-bottom: 50px;
    border: 1px solid #ffd700; 
    border-radius: 3px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #87cefa;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #add8e6; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e6e6fa; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d8bfd8;
    border-radius: 3px;
}

li:hover {
    background-color: #dcdcdc; 
}

ul {
    margin-top: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form.edit-form {
    margin-bottom: 0;
}

form.edit-form input[type="hidden"] {
    display: none;
}
